.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: auto;
  height: auto;
  margin: 1vw;
}

.card-chart{
  height: 50%;
  width: 20vw;
}

.card-desc{
  margin: 1.5em;
}


