<div class="container flex flex-row align-items-center justify-content-center">
  <div class="card">
    <h1 class="card-heading">Costs</h1>
    <div class="card-chart">
      <p-chart [data]="costData" [options]="chartOptions" type="line"></p-chart>
    </div>
    <div class="card-desc">Sum of costs made by you</div>
  </div>
  <div class="card">
    <h1 class="card-heading">Debts</h1>
    <div class="card-chart">
      <p-chart [data]="costData" [options]="chartOptions" type="line"></p-chart>
    </div>
    <div class="card-desc">Sum of your Debts</div>
  </div>
  <div class="card">
    <h1 class="card-heading">Categories</h1>
    <div class="card-chart">
      <p-chart [data]="categoryData" [options]="chartOptions" type="pie"></p-chart>
    </div>
    <div class="card-desc">% of Costs by Category by you</div>
  </div>
</div>
