<div class="flex flex-row">
  <div class="card flex flex-column p-4 m-6">
    <h1>Create group</h1>

      <div class="p-inputgroup input">
        <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
        <input type="text" [(ngModel)]="group.name" pInputText placeholder="Groupname *" />
      </div>
      <div class="p-inputgroup input">
        <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
        <input type="text" [(ngModel)]="group.description" pInputText placeholder="Group description" />
      </div>
      <div class="p-col-12 p-md-4">
        <div class="p-inputgroup">
          <button type="button" pButton pRipple icon="pi pi-plus" (click)="addUser()"></button>
          <input type="text" [(ngModel)]="username" pInputText placeholder="Add user by username">
        </div>

        <h2>Users</h2>
        <ul class="users">
          <li *ngFor="let user of users">
            <span class="badge">{{user.username}}</span>
          </li>
        </ul>
      </div>

    <p-button pButton label="Create" class="mt-2 p-2" icon="pi pi-plus" (click)="createGroup()"></p-button>
  </div>
</div>



<p-toast></p-toast>
