<div class="card flex flex-column p-4 m-6">
  <div class="p-inputgroup input">
    <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
    <input type="text" [(ngModel)]="group.Name" pInputText placeholder="Groupname *" />
  </div>
  <div class="p-inputgroup input">
    <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
    <input type="text" [(ngModel)]="group.Description" pInputText placeholder="Group description" />
  </div>
  <div class="p-col-12 p-md-4">
    <div class="p-inputgroup">
        <button type="button" pButton pRipple icon="pi pi-plus" (click)="addUser()"></button>      
        <input type="text" [(ngModel)]="username" pInputText placeholder="Add user by username">   
    </div>
    <h2>Users</h2>
    <ul class="users">
        <li *ngFor="let user of users">
          <span class="badge">{{user}}</span>
        </li>
    </ul>
</div>
  <button class="btn" pButton type="button" label="Create" (click)="createGroup()"></button>
</div>
