.card{
    height: 90vh;
    border-radius: 16px;
    width: 81vw;
    background-color: #23272a;
}

.input {
    margin-bottom: 1vh; 
}

.btn {
    width: 8vw;
    margin-top: 1vh;
    align-self: flex-end;
}